.login-page {
    background-image: url('../images/blob.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 20%;
    /* Additional styling properties */
  }

  